* {
    box-sizing: border-box;
}


body, html {
    height: 100%;

    font-family: 'Cabin', sans-serif;

    margin: 0;
    padding: 0;
}

.background-image {
    background: url(images/background-image.jpg);

    height: 100%;
    width: 80%;
    margin: 0 10%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-article {
    background: url(/Users/benjamintrainor/eda/BenjaminTrainorJS.github.io/images/background-image.jpg);

    height: 25%;
    width: 80%;
    margin: 0 10%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header h1 { 
    font-size: 80px;
    color: white;
    margin: 10px;
}

header h2 {
    font-size: 50px;
    margin: 0;
}

header h2 a {
    text-decoration: none;
    color: black;
}

header h2 a:hover {
    cursor: pointer;
}

main {
    
    margin: 0 10%;
}

.about_me {
    background-color: whitesmoke;

   
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;

    padding: 15px 0;
}

.about_me_article {
    background-color: whitesmoke;
   
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    text-align: center;

    padding-left: 50px;
    padding-right: 50px;
}

.about_me_article h2 {
    font-size: 35px;
}

.about_me_article h3 {
    font-size: 28px;
    margin: 0;
}

.date {
    font-style: italic;
}

.about_me_article p {
    font-size: 20px;
}

.foot_note {
    margin-top: 70px;
}

.about_me a, .about_me_article a {
    text-decoration: none;
    color: orangered;
}

.articles {
    background-color: black;
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    text-align: center;

    font-size: 28px;
    
}

.articles li {
    list-style: none;
}

.articles, .articles a {
    text-decoration: none;
    color: turquoise;
}

section ul {
    margin: 0;
    padding: 0;
}

section ul li {
    padding: 10px;
    background-color: black;
    margin: 15px;
    border-radius: 3px;
}

.strike_through {
    text-decoration: line-through;
}

footer {
    background-color: lightgrey;

    width: 80%;
    margin: 0 10%;

    display: flex;
    justify-content: center;
    text-align: center;
}

footer ul li {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
footer ul li a {
text-decoration: none;
    color: black;
}

#eda {
    color: orangered;
}
