/* Import Fonts*/

:root {

    /* Colour variables*/
    --background-light: #737373;
    --background-drk: #4f4f4f;
    --light-grey: #c4c4c4;
    --nav-orng: #f65026; 

    /* Font variables*/
    --main-font: sans-serif;
    --logo: ;
    --nav-font: ;
}

/* General Styles*/

body {
    background: var(--background-drk);
    color: var(--light-grey);
    font-family: var(--main-font);
    font-size: 1.2rem;
    line-height: 1.45;
  }

.container {
    display: grid;
    background: var(--background-drk);
    width:1024px;
    margin: 0 auto;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
}

/* ---------- */
/* Navigation */
/* ---------- */

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 35px;
}

nav h3 {
    display: flex;
    
    justify-content: center;
}

nav a {
    display: flex;
    align-self: center;
    justify-content: center;
    color: var(--nav-orng);
    text-decoration: none;
}

nav img {
    border-radius: 50%;
    max-height: 80px;
}

.sidebar {
    background: #efefef;
    display: grid;
    justify-content: center;
}

.sidebar img {
    margin: 20px;
    border-radius: 50%;   
    height: 30vh;
    max-height: 200px;
    
}

/*.sidebar {
    background: var(--background-light);
    flex: 1 1 20%;
    min-width: 300px;
    padding: 3em;
    
}

.nav-item {
    color: var(--nav-orng);
    text-decoration: none;
    font-size: 1.7rem; 
}

*/
nav, footer {
    padding: 20px;
    background: #ccc;
    grid-column: 1 / span 2 ;
}

/* ----------------- */
/* Main Content area */
/* ----------------- */


.main-content {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.main-content article:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}


/* ----------------- */
/* Portfolio */
/* ----------------- */

.portfolio {
    height: 100%;
    width: 100%;
}

.content-item {
    background-color: white;
    padding: 20px;

    
}

.content-item:nth-child(odd) {
    background-color: #efefef;
}